body {
  font: 40px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
  color: rgb(212, 70, 14);
  text-shadow: 2px 2px 4px #ff3c01;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(253, 117, 5);
  border: 1px solid darkred;
  border-radius: 2px;
  float: left;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  color: white;
  text-align: center;
  width: 50px;
  text-shadow: 1px 1px 2px #000000;
  cursor: pointer;
  transition-duration: 0.4s;
}

.square:after {
  opacity: 0;
  transition: all 0.8s;
  display: block;
}

.square:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .game-info {
  margin-left: 20px;
} */

body {
  background-image: radial-gradient(circle, rgb(201, 209, 124), rgb(255, 137, 2)); 
}

